 <p>新規レビュー投稿</p>
            <%= f.attachment_field :image %>
            <%= f.text_field :body, class: "form-control", placeholder: "投稿内容を入力" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <%= f.submit "投稿する", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      